.footer__column-link{
    margin: 0;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: white;
    text-decoration: none;
    transition: opacity .3s linear;
  }

.footer__column-link:hover{
  opacity: 0.5;
}